{
	"application" : {
		"host" : "0.0.0.0",
		"port" : 80,
		"debug" : false
	},
	"colors" : {
		"error" : "#ff0000",
		"alert" : "#ffff00",
		"success" : "#28c12b"
	},
	"mattermost" : {
		"server_url" : "",
		"post_user_name" : "",
		"post_user_icon" : ""
	},
	"bitbucket" : {
		"server_url" : ""
	}
}